<p-toast position="top-left"></p-toast>

<div class="main-auth-register">
    <div class="main-auth-register-img">
        <img />
        <img src="/assets/layout/images/SmartThriveEduDashboard.png" alt="logo" />
    </div>
    <div class="main-auth-register-content flex flex-column">
        <div class="">
            <!-- <a class="sidebar-logo-link" routerLink="dashboard">
                <img src="/assets/layout/images/logoText.png" alt="logo" />
                <img src="/assets/layout/images/logo.png" alt="logo" />
            </a> -->
        </div>
        <div class="main-auth-register-content-main w-10 md:w-10 lg:w-8 Register" (keydown.enter)="onRegister(0)">
            <div class="main-auth-register-content-main-title">
                <h1>Create an account</h1>
            </div>
            <div class="main-auth-register-content-main-input gap-2">
                <div class="input-set-column field flex flex-row column-gap-3 w-full">
                    <input [(ngModel)]="user.firstName" pInputText placeholder="First name" required />
                    <input [(ngModel)]="user.lastName" pInputText placeholder="Last name" required />
                </div>
                <input class="field" name="email" [(ngModel)]="user.email" pInputText placeholder="Email" required />
                <input class="field" name="username" [(ngModel)]="user.username" pInputText placeholder="Username"
                    required />
                <div class="input-set-column field flex flex-row column-gap-3 w-full">
                    <p-password placeholder="Password" [(ngModel)]="user.password" [toggleMask]="true"
                        [feedback]="false" required />
                    <p-password placeholder="Confirm" [(ngModel)]="confirmPassword" [toggleMask]="true"
                        [feedback]="false" required />
                </div>
                <p-calendar placeholder="Birthday" class="w-full" [(ngModel)]="user.dob" [iconDisplay]="'input'"
                    [showIcon]="true" inputId="icondisplay" required />
                <div class="flex flex-wrap justify-content-end gap-3 w-full py-3">
                    <div class="flex align-items-center">
                        <p-radioButton name="gender" value="Female" [(ngModel)]="user.gender" inputId="ingredient1" />
                        <label for="ingredient1" class="ml-2">
                            Female
                        </label>
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton name="gender" value="Male" [(ngModel)]="user.gender" inputId="ingredient2" />
                        <label for="ingredient2" class="ml-2">
                            Male
                        </label>
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton name="gender" value="Other" [(ngModel)]="user.gender" inputId="ingredient3" />
                        <label for="ingredient3" class="ml-2 pr-3">
                            Other
                        </label>
                        <input type="text" *ngIf="user.gender !== 'Female' && user.gender !== 'Male'" pInputText
                            [(ngModel)]="gender" />
                    </div>

                </div>
            </div>
            <div class="main-auth-register-content-main-button">
                <p-button [label]="registerLabel" class="w-full" [loading]="loading[0]"
                    (onClick)="onRegister(0)"></p-button>
            </div>

            <div class="main-auth-register-content-main-text">
                <p-button routerLink="/auth/login" label="Back to login" icon="pi pi-arrow-left" severity="secondary"
                    [link]="true" />
            </div>
        </div>





    </div>

</div>