// Variables
$primary-color: #eeeeee;
$secondary-color: #222831;
$font-family: "Inter var", sans-serif;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-calendar {
  width: 100% !important;
  height: 45px !important;
  //margin-bottom: 1rem !important;
}

// Main Styles
.main-auth-register {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &-content {
    flex: 1;
    background-color: $primary-color;
    padding: 2rem;
    color: #686d76;
    font-family: $font-family;

    @include flex-center;
    text-align: center;

    @media (max-width: 768px) {
      padding: 1rem;
    }

    &-main {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 8px 8px 0 0;
      background-color: #fff;
      padding: 8px 0px;
      &-title {
        padding: 1rem 0;
        h1 {
          margin-bottom: 0.5rem;
        }
      }

      &-register-with {
        padding: 1rem 0;
        .p-button:enabled:focus {
          outline: 0 none;
          outline-offset: 0px;
          box-shadow: none;
        }
      }

      &-input {
        border-top: 1px solid #dadde1;
        padding: 16px 16px 0px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .p-inputtext {
          width: 100% !important;
          height: 45px !important;
        }

        .p-password {
          width: 100% !important;
        }
      }

      &-func {
        padding: 10px 16px;
        padding-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .p-button-link {
          color: var(--surface-900);
        }
        .p-button {
          padding: 0 !important ;
        }
      }

      &-button {
        padding: 10px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;

        .p-element {
          width: 100% !important;
          height: 45px !important;
        }
      }

      &-text {
        padding-bottom: 1rem;
        text-align: start;
        font-weight: lighter;
      }
    }
  }

  &-img {
    flex: 1;
    // background-image: url('path/to/your/image.jpg');
    background-color: $secondary-color;
    background-size: cover;
    background-position: center;

    @include flex-center;

    @media (max-width: 768px) {
      height: 50vh;
    }
  }
}
