<!-- 
<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
        <img src="assets/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
        <span class="text-600 font-medium line-height-3">Don't have an account?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a>
    </div>

    <div>
        <label for="email1" class="block text-900 font-medium mb-2">Email</label>
        <input id="email1" type="text" placeholder="Email address" pInputText class="w-full mb-3">

        <label for="password1" class="block text-900 font-medium mb-2">Password</label>
        <input id="password1" type="password" placeholder="Password" pInputText class="w-full mb-3">

        <div class="flex align-items-center justify-content-between mb-6">
            <div class="flex align-items-center">
                <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                <label for="rememberme1" class="text-900">Remember me</label>
            </div>
            <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
        </div>

        <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"></button>
    </div>
</div> -->
<div class="main-auth-login">
    <div class="main-auth-login-content">
        <div class="main-auth-login-content-main">
            <div class="main-auth-login-content-main-title">
                <h1>Login to your Account</h1>
                <span>Welcome back! Select method to log in: </span>
            </div>

            <div class="main-auth-login-content-main-login-with">
                <button pButton type="button"
                    [outlined]="true"
                    severity="secondary"
                    label="Google">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="26" height="26" viewBox="0 0 48 48"
                        style="margin-right: 5px;">
                        <path fill="#FFC107"
                            d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path
                            fill="#FF3D00"
                            d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path
                            fill="#4CAF50"
                            d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path
                            fill="#1976D2"
                            d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                    </svg></button>
                 
            </div>

            <div class="main-auth-login-content-main-line">
                <span>------------- or continue with email -------------</span>
            </div>
            <div class="main-auth-login-content-main-input">
                <input pInputText placeholder="Email or username"
                    [(ngModel)]="login.emailOrUsername" />
                <p-password [(ngModel)]="login.password" placeholder="Password"
                    [toggleMask]="true" [feedback]="false" />
            </div>

            <div class="main-auth-login-content-main-func">
                <div class="main-auth-login-content-main-func-remember">
                    <p-checkbox [binary]="true" label=" Remember me"
                        [(ngModel)]="login.isRemember"></p-checkbox>

                </div>

                <div class="main-auth-login-content-main-func-forgot">
                    <p-button label="Forgot Password?" [link]="true" />
                </div>
            </div>

            <div class="main-auth-login-content-main-button">
                <p-button label="Login" [raised]="true"
                    severity="contrast" />
            </div>

            <div class="main-auth-login-content-main-text">

            </div>

        </div>
    </div>

    <div class="main-auth-login-img">

    </div>
</div>
