<button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>


<p-dialog [(visible)]="orderDialog" [style]="{width: '450px'}" [header]="title" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <!-- <img [src]="'assets/showcase/images/demo/order/' + order.image" [alt]="order.image" class="order-image" *ngIf="order.image"> -->
        <div class="mb-3">
            <label for="name" class="font-semibold w-6rem">Package Name</label>
            <p-dropdown appendTo="body" [filter]="true" filterBy="label" optionLabel="label" [options]="items"
                [(ngModel)]="selectedItem" placeholder="Select Item">
                <ng-template pTemplate="selectedItem">
                    <div class="package-item package-item-value" *ngIf="selectedItem">
                        <div>{{selectedItem.label}}</div>
                    </div>
                </ng-template>
                <ng-template let-package pTemplate="item">
                    <div class="package-item">
                        <div>{{package.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="mb-3">
            <label for="orderName" class="font-semibold w-6rem">Order Name</label>
            <input pInputText id="orderName" [(ngModel)]="order.paymentMethod" class="flex-auto" autocomplete="off" />
        </div>
        <div class="mb-3">
            <label for="totalPrice" class="font-semibold w-6rem">Amount</label>
            <p-inputNumber id="totalPrice" [(ngModel)]="order.amount" class="flex-auto" autocomplete="off" />
        </div>
        <div class="mb-3">
            <label for="totalPrice" class="font-semibold w-6rem">Total Price</label>
            <p-inputNumber id="totalPrice" [(ngModel)]="order.totalPrice" class="flex-auto" autocomplete="off" />
        </div>
        <div class="mb-3">
            <label for="description" class="font-semibold w-6rem">Description</label>
            <input pInputText id="description" [(ngModel)]="order.description" class="flex-auto" autocomplete="off" />
        </div>
        <div class="mb-3">
            <label for="status" class="font-semibold w-6rem">Status</label>
            <p-inputSwitch id="status" [(ngModel)]="order.status" class="flex-auto" autocomplete="off" />
        </div>


        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="hideDialog()" />
            <p-button label="Save" (click)="saveOrder()" />
        </div>

    </ng-template>


</p-dialog>