::ng-deep .p-menu.p-menu-overlay {
    display: inline-block !important;
    transition: opacity 0.5s ease; /* Add transition for smooth hiding */
}

::ng-deep .p-menu.p-menu-overlay.hidden {
    opacity: 0; /* Hide the menu */
    pointer-events: none; /* Disable interactions when hidden */
}

.layout-menu {
    .layout-menu-button-toggle {
        display: flex;
        justify-content: flex-end;
        margin-right: -30px;
    }
}