.p-accordion .p-accordion-header-link {
  box-shadow: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
}

.p-accordion .p-accordion-content {
  box-shadow: 2px 6px 15px 0px rgba(69, 65, 78, 0.1);
}

.p-button:enabled:focus {
  outline: 0 none;
  outline-offset: 0px;
  box-shadow: none;
}

.p-button:focus {
  box-shadow: 0 0 0 0 !important;
}

.p-breadcrumb {
  background: transparent;
  border: 0px;
}
