.p-accordion .p-accordion-header {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.p-accordion .p-accordion-content {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.p-button:enabled:focus {
  outline: 0 none;
  outline-offset: 0px;
  box-shadow: none;
}

.p-button.p-button-text {
  color: var(--surface-900);
}

a {
  text-decoration: none;
  color: var(--text-color-secondary);
} // header in .p-accordion

.card {
  padding: 2rem;
  border: 0px;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: $borderRadius;

  &:last-child {
    margin-bottom: 0;
  }
}

.p-button:focus {
  box-shadow: 0 0 0 0 !important;
}

.p-breadcrumb {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid var(--surface-border);
  margin-bottom: 1rem;
  width: fit-content !important;
}

.custom-input {
  //border-radius: 2rem;
  //border: 0px;
}

.p-inputtext:enabled:focus {
  box-shadow: none !important;
}

// .p-multiselect-clearable {
//   border-radius: 2rem;
// }

.p-inputtext {
  background: transparent;
}

.p-multiselect {
  background: transparent;
}

.p-dropdown {
  background: transparent;
}

