* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-container {
    background: var(--custom-background);
    min-height: 100vh;
}

.layout-container:before {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: var(--body-image);
    background-repeat: no-repeat;
    z-index: 0;
}

.layout-dark {
    --sidebar-shadow: none;
    --sidebar-border: 1px solid var(--surface-border);
    --card-shadow: none;
    --body-bg: linear-gradient(180deg, #2E323F 0%, #0A061A 100%);
    --body-image: url(/assets/layout/images/effect-ondark.png);
    --root-menu-item-hover-bg: rgba(255, 255, 255, .05);
    --exception-pages-image: url(/assets/layout/images/pages/exception-ondark.png);
}