.layout-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: calc(100vh);
  z-index: 999;
  overflow-y: auto;
  user-select: none;
  top: 0rem;
  left: 0rem;
  
  transition: transform $transitionDuration, left $transitionDuration;

  background-color: var(--surface-overlay);
  //border-radius: $borderRadius;
  //padding: 0.5rem 1.5rem;
  padding-bottom: 0rem;
  //box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  //box-shadow: 4px 70px 10px rgba(69, 65, 78, 0.06);

  
}
.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--surface-border);
  color: var(--surface-900);
  font-size: 1.5rem;
  font-weight: 500;
  background-color: var(--topbar-sticky-bg);
  backdrop-filter: blur(8px);
  //width: fit-content;

  img {
    height: calc(4rem - 1px);
    margin-right: 0.5rem;
  }
  .sidebar-logo-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
       color: var(--surface-900);
      //color: white;
    }
  }

  .sidebar-logo-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--text-color-secondary);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: background-color $transitionDuration;

    &:hover {
      color: var(--text-color);
      background-color: var(--surface-hover);
    }

    i {
      font-size: 1.5rem;
    }

    span {
      font-size: 1rem;
    }
  }
}

.sidebar-content {
  padding: 1rem 1.5rem;
  flex: 1;
  overflow-y: auto;
}

.sidebar-profile {
  padding-bottom: 1rem;
  width: 100%;
}

.sidebar-content::-webkit-scrollbar {
  width: 0; /* Ẩn thanh cuộn */
  height: 0; /* Ẩn thanh cuộn */
}

.layout-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  .layout-root-menuitem {
    > .layout-menuitem-root-text {
      font-size: 0.857rem;
      text-transform: uppercase;
      font-weight: 700;
      color: var(--surface-900);
      margin: 0.75rem 0;
    }

    > a {
      display: none;
    }
  }

  a {
    user-select: none;

    &.active-menuitem {
      > .layout-submenu-toggler {
        transform: rotate(-180deg);
      }
    }
  }

  li.active-menuitem {
    > a {
      .layout-submenu-toggler {
        transform: rotate(-180deg);
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    a {
      display: flex;
      align-items: center;
      position: relative;
      outline: 0 none;
      color: var(--text-color);
      cursor: pointer;
      padding: 0.75rem 1rem;
      border-radius: $borderRadius;
      transition: background-color $transitionDuration,
        box-shadow $transitionDuration;

      .layout-menuitem-icon {
        margin-right: 0.5rem;
      }

      .layout-submenu-toggler {
        font-size: 75%;
        margin-left: auto;
        transition: transform $transitionDuration;
      }

      &.active-route {
        font-weight: 700;
        color: var(--primary-color);
      }

      &:hover {
        background-color: var(--surface-hover);
      }

      // &:focus {
      //     @include focused-inset();
      // }
    }

    ul {
      overflow: hidden;
      border-radius: $borderRadius;

      li {
        a {
          margin-left: 1rem;
        }

        li {
          a {
            margin-left: 2rem;
          }

          li {
            a {
              margin-left: 2.5rem;
            }

            li {
              a {
                margin-left: 3rem;
              }

              li {
                a {
                  margin-left: 3.5rem;
                }

                li {
                  a {
                    margin-left: 4rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
